.intro {
    padding: 0px 0px 92px 148px;
    max-width: 690px;
}
@media all and (max-width: 1280px) {
    .intro {
        padding: 0px 0px 92px calc((100vw - 1024px)*(148 - 48)/(1280 - 1024) + 48px);
    }
}
@media all and (max-width: 1024px) {
    .intro {
        padding: 0px 0px calc((100vw - 768px)*(92 - 88)/(1024 - 768) + 88px) calc((100vw - 768px)*(48 - 24)/(1024 - 768) + 24px);
    }
}
@media all and (max-width: 768px) {
    .intro {
        max-width: 720px;
        padding: 0px calc((100vw - 320px)*(24 - 16)/(768 - 320) + 16px) calc((100% - 320px)*(88 - 64)/(768 - 320) + 64px);
    }
}
@media all and (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding: 0px 16px 64px;
    }
}